/dts-v1/;
/plugin/;
#include <dt-bindings/thermal/thermal.h>

/ {
        metadata {
                title = "Enable I2C8-ENC2301-FAN";
                compatible = "radxa,rock-5a", "radxa,rock-5c";
                category = "misc";
                exclusive = "GPIO1_D6", "GPIO1_D7";
                description = "Enable I2C8-M2-EMC2301-FAN.\nOn Radxa ROCK 5C this is SDA pin 3 and SCL pin 5.";
        };

	fragment@0 {
		target = <&i2c8>;
		__overlay__ {
			emc2301: emc2301@2f {
				compatible = "microchip,emc2301";
				reg = <0x2f>;
                #address-cells = <1>;
                #size-cells = <0>;
                #cooling-cells = <2>;
                microchip,pwm-separate;
                microchip,cooling-levels = <10>;

                channel@0 {
                    reg = <0>;
                    pwm-min = <0>;
                };
			};
			lm75b: lm75b@48 {
				compatible = "national,lm75b";
				reg = <0x48>;
                #thermal-sensor-cells = <0>;
			};
		};
	};
	fragment@1 {
		target-path = "/thermal-zones";
		__overlay__ {
			sata_thermal: sata-thermal {
				polling-delay-passive = <1000>;
				polling-delay = <1000>;
				thermal-sensors = <&lm75b>;
				sensor_trips: trips {
					temp_crit: temp-crit {
						temperature = <65000>;
						hysteresis = <0>;
						type = "critical";
					};
					temp_hot: temp-hot {
						temperature = <40000>;
						hysteresis = <3000>;
						type = "active";
					};

					temp_vhot: temp-vhot {
						temperature = <55000>;
						hysteresis = <5000>;
						type = "active";
					};
				};

				cooling_maps: cooling-maps {
					hot {
						trip = <&temp_hot>;
						cooling-device = <&emc2301 2 6>;
					};


					vhot {
						trip = <&temp_vhot>;
						cooling-device = <&emc2301 6 10>;
					};
					melt {
						trip = <&temp_crit>;
						cooling-device = <&emc2301 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
					};
				};
			};
		};
	};
};
